extends ../layout

block menu
    +menu

block content
    p You will lend 
    p
        strong= to 
    p the amount of 
    p
        strong= dollar_amount
    p #{to} can pay by the following methods
    
    p
        strong= method

    if (locals.schedule_details)
        p They can pay in installments set as follows:
        table.table
            thead
                tr  
                    th Installment Number
                    th Date
                    th Amount
            tbody!= schedule_details

    if reminders == 'yes'
        p Reminders have been set for you and #{to}
    
    +bottom_menu( 'Go Back', '/lend/installments', 'Agree', '/lend/final' )
        
    
        
