extends ../layout

block menu
    +menu

block content
    p You will lend 
    p
        strong= to 
    p the amount of 
    p
        strong= amount
    p #{to} can pay by the following methods
    
    p
        strong= method
        
    p They can pay in installments set as follows: 
    p If #{to} does not pay on time, there will be a % penalty applied to the remaining loan amount.  
    p Reminders have been set for you and #{to}
    
    +bottom_menu( 'Go Back', '/lend/installments', 'Agree', '/lend/final' )
        
    
        
