doctype

mixin menu
    nav( class="navbar navbar-inverse navbar-fixed-top" )
        .container
            .navbar-header
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand( href="/" )
                    span bum-a-buck
            .collapse#navbar.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="#") 
                            span.glyphicon.glyphicon-star
                            | Account
                    li
                        a(href="/lend") 
                            span.glyphicon.glyphicon-open
                            | Lend
                    li
                        a(href="#") 
                            span.glyphicon.glyphicon-save
                            |Borrow
                    li
                        a(href="#") 
                            span.glyphicon.glyphicon-ok-circle
                            | Track
                    li
                        a(href="#") 
                            span.glyphicon.glyphicon-bell
                            | Reminders
                    li
                        a(href="#") 
                            span.glyphicon.glyphicon-arrow-right
                            | Logout
                            
mixin bottom_menu(prev, prev_link, next, next_link )
    if next
        .row.top-buffer
            .col-xs-6
                a.btn.btn-default(href=prev_link)= prev
            .col-xs-6
                a.btn.btn-default(href=next_link)= next
    else
        .row.top-buffer
            .col-xs-12
                a.btn.btn-default(href=prev_link)= prev
            
    
            
html( lang="en" )
    head
        - var full_title = "Bum-a-buck :: " + title;
        title= full_title
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css", rel="stylesheet")
        link(href="/stylesheets/style.css", rel="stylesheet")
        block css
 
    body(role="document")
        block menu
        .container-fluid
            h2= title
            block content 
        block script
            script( src='//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js' )
            script( src='//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js' )


        
            
        