doctype

mixin menu
    nav( class="navbar navbar-inverse navbar-fixed-top" )
        .container
            .navbar-header
                button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar")
                    span.sr-only Toggle navigation
                    span.icon-bar
                    span.icon-bar
                    span.icon-bar
                a.navbar-brand( href="/" )
                    span bum-a-buck
            .collapse#navbar.navbar-collapse
                ul.nav.navbar-nav
                    li
                        a(href="/account") 
                            img( src="/images/reminders-icon-extra-small.png" )
                            | Account
                    li
                        a(href="/lend/") 
                            img( src="/images/lend-icon-extra-small.png" )
                            | Lend
                    li
                        a(href="/borrow") 
                            img( src="/images/borrow-icon-extra-small.png" )
                            | Borrow
                    li
                        a(href="/track") 
                            img( src="/images/track-icon-extra-small.png" )
                            | Track
                    li
                        a(href="#") 
                            span.glyphicon.glyphicon-arrow-right
                            | Logout
                            
mixin bottom_menu(prev, prev_link, next, next_link )
    if next
        .row.top-buffer
            .col-xs-6
                a.btn.btn-default#prev(href=prev_link)= prev
            .col-xs-6
                a.btn.btn-default#next(href=next_link)= next
    else
        .row.top-buffer
            .col-xs-12
                a.btn.btn-default#prev(href=prev_link)= prev

mixin form_submit_bottom_menu(prev, prev_link, next )
    .row.top-buffer
        .col-xs-6
            a.btn.btn-default#prev(href=prev_link)= prev
        .col-xs-6
            a.btn.btn-default#next(href="#",onclick="$('form').submit()")= next
            
    
mixin nice_date( date_id ) 
    script jQuery( function() { $( '#{date_id}' ).datetimepicker( { format: 'MM/D/YYYY' }); });
    
html( lang="en" )
    head
        - var full_title = "Bum-a-buck :: " + title;
        title= full_title
        meta( charset='utf-8' )
        meta( http-equiv='X-UA-Compatible', content='IE=edge' )
        meta( name='viewport', content='width=device-width, initial-scale=1.0' )
        meta( name='description', content='Baking Bootstrap Snippets with Jade' )
        //- Bootswatch Theme
        link(href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.4/flatly/bootstrap.min.css", rel="stylesheet")
        link(href="/bower_components/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css", rel="stylesheet")
        link(href="/stylesheets/style.css", rel="stylesheet")
        block css
 
    body(role="document")
        block menu
        .container-fluid
            h2= title
            block content 
        block script
            script( src='/bower_components/jquery/dist/jquery.js' )
            script( src='/bower_components/bootstrap/dist/js/bootstrap.js' )
            script( src='/bower_components/moment/min/moment.min.js' )
            script( src='/bower_components/accounting/accounting.min.js' )
            script( src='/bower_components/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js' )
            script.
                function showErrorMessage( msg ) {
                    $("#error" ).html( '<div class="alert alert-warning alert-dismissible"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>' + msg + '</div>');
                }
                function hideErrorMessage() {
                    $("#error").html('');
                }


        
            
        